body{
    background-color: rgb(56, 56, 56);
    color: white;
    margin: 0;
    font-size: 17px; 
    font-family: Arial;
}

table{
    margin: auto;
}

td, th {
    border: 1px solid rgb(206, 206, 206);
}